
body{
    background-color: #FFF0E9;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.main-container{
    padding: 20px;
    gap: 200px;
    display: flex;
    justify-content: center;
    background-color:pink;
}

.right-container-img{
    width: 400px;
}

.policy-container{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.policy{
    display: flex;
    gap: 10px;
}