/*CSS Minimial reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.logo{
    display: flex;
    align-items: center;
    font-family: "Charm", Arial, Helvetica, sans-serif;
    font-size: 45px;
    flex-grow: 5;
    padding-left: 50px;
}

.nav-bar {
  display: flex;
  height: 80px;
}

.nav-bar-item{
    display: flex;
    flex-grow: 1;
}

.nav-bar-buttons{
    width: 100%;
    font-size: 20px;
    color: #FFFFFF;
    background-color:#1A1A1A;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: solid 1px grey;
}

.main-container {
  padding: 20px;
  gap: 200px;
  display: flex;
  justify-content: center;
  background-color: pink;
}

.main-container.carousel {
  width: 100%;
  height: 600px; /*Adjust height as needed*/
  background-size: cover;
  background-position: center;
  position: relative; /*Necessary to make the dark overlay*/
  animation: changeBackground 20s infinite linear;
  transition: background-image 2s ease-in-out;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Dark overlay (adjust opacity as needed) */
  z-index: 1; /*Ensures it appears ABOVE the background*/
}

.carousel-content {
  font-family: "Charm", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 2; /*Places the text above the overlay*/
  color: white; /*Ensures the text is visible*/
  text-align: center; /*ADJUST ACCORDINGLY DEPENDING ON WHERE YOU WANT TO PLACE YOUR TEXT*/
  font-size: 24px;
  padding: 20px;
}

@keyframes changeBackground {
  0% {
    background-image: url("./images/Landscape\ pasta\ A.jpg");
  }
  24% {
    background-image: url("./images/Landscape\ pasta\ A.jpg");
  } /* Hold image1 for 5s */

  25% {
    background-image: url("./images/Landscape\ Pasta\ B.jpg");
  }
  49% {
    background-image: url("./images/Landscape\ Pasta\ B.jpg");
  } /* Hold image2 for 5s */

  50% {
    background-image: url("./images/landscape\ pasta\ C.jpg");
  }
  74% {
    background-image: url("./images/landscape\ pasta\ C.jpg");
  } /* Hold image3 for 5s */

  75% {
    background-image: url("./images/landscape\ pasta\ D.jpg");
  }
  100% {
    background-image: url("./images/landscape\ pasta\ D.jpg");
  } /* Hold image4 for 5s */
}

.right-container-img {
  width: 400px;
}

.policy-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.policy {
  display: flex;
  gap: 10px;
}
